* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  height: 100vh;
}


.container {
  display: flex;
  height: 100vh;
}


.left-div {
  width: 40%;
  background: #f3f3f3;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.logo img {
  width: 160px;
  margin-bottom: 40px;
}


h2 {
  margin-bottom: 30px;
  font-weight: normal;
}


.input-box {
  position: relative;
  margin-bottom: 20px;
}


.input-box input {
  width: 100%;
  padding: 15px;
  padding-right: 45px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}


.input-box input:focus {
  border-color: #38a745;
}


.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}


button {
  width: 100%;
  padding: 15px;
  background: #38a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #2e8b3c;
}

/* FORGOT PASSWORD */
.forgot {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

.forgot i {
  margin-right: 5px;
}

/* ================= RIGHT SIDE ================= */

.right-div {
  width: 60%;
  height: 100vh;
}
.right-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
 @media (max-width: 768px){
            section {
                display: flex;
                flex-direction: column;
                height: auto;
                min-height: 100vh;

            }
            .left-div {
                width: 100%;
                align-items: center;
                text-align: center;
                padding: 40px 20px;
            }
            .logo {
              display: flex;
              justify-content: center;
            }
            h2 {
              margin-top: 10px;
              margin-bottom: 25px;
            }
            form {
              width: 100%;
              max-width: 400px;
            }
            .right-div {
                width: 100%;
                height: 250px;
                margin: 0;
                flex: 1;
            }
            .right-div img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }