/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FULL SCREEN */
body {
  height: 100vh;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  height: 100vh;
}

/* ================= LEFT SIDE ================= */

.left-div {
  width: 40%;
  background: #f3f3f3;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LOGO */
.logo img {
  width: 160px;
  margin-bottom: 40px;
}

/* TITLE */
h2 {
  margin-bottom: 30px;
  font-weight: normal;
}

/* INPUT BOX WRAPPER */
.input-box {
  position: relative;
  margin-bottom: 20px;
}

/* INPUT FIELD */
.input-box input {
  width: 100%;
  padding: 15px;
  padding-right: 45px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

/* INPUT FOCUS EFFECT */
.input-box input:focus {
  border-color: #38a745;
}

/* ICON INSIDE INPUT */
.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

/* BUTTON */
button {
  width: 100%;
  padding: 15px;
  background: #38a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #2e8b3c;
}

/* FORGOT PASSWORD */
.forgot {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

.forgot i {
  margin-right: 5px;
}

/* ================= RIGHT SIDE ================= */

.right-div {
  width: 60%;
  height: 100vh;
}
.right-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
