.navbar {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.fa-envelope {
    color: #0073e6;
    font-size: 24px;
    margin-right: 10px;
}

.left-div {
    display: flex;
    align-items: center;
}

.left-div ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.left-div ul li {
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.left-div ul li:hover {
    color: #0073e6;
}

.right-div {
    display: flex;
    align-items: center;
    gap: 20px;

}

.login-btn {
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: black;
    width: auto;
    cursor: pointer;
}

.login-btn:hover {
    color: #0073e6;
}

.demo-btn {
    display: flecx;
    padding: 10px 20px;

    font-size: 14px;
    background-color: transparent;
    border: 2px solid #FC5B1A;
    color: #FC5B1A;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
}

.demo-btn:hover {
    background-color: #FC5B1A;
    color: white;
}

.signup-btn {
    background-color: #0073e6;
    border: 1px solid #0073e6;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: white;
    color: #0073e6;
}

.heading {
    text-align: center;
    font-family: Rubik, Helvitical, Arial, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 46px;
    padding: 0px 20px;
}

.limitless {
    color: #00a2ff;
    font-family: Rubik, Helvitical, Arial, sans-serif;
    font-size: 34px;
    font-weight: 600;
    align-content: center;
}

.unlimited-card {
    display: flex;
    align-items: center;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 34px;
    margin: 0px 0px 20px;
    padding: 0px 20px;

}

.unlimited-title {
    font-family: 34px Rubik, Helvetica, Arial, sans-serif;
}

.unlimited {
    color: #00a2ff;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 34px;
}

.unlimited {
    color: #00a2ff;

    font-weight: 600;
}

.unlimited-discription {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0px 0px 30px;
    line-height: 28px;
}

.learn-btn {
    color: #fff;
    border-color: 1px solid #000;
    border-radius: 12px;
    background-color: #000000;
    padding: 14px 20px;
}

.learn-btn:hover {
    background-color: #00a2ff;
    color: #fff;
    border-color: 1px solid #0073e6;
}

.why-getresponse {
    text-align: center;
    font: 34px Rubik, Helvetica, Arial, sans-serif;

    font-weight: bold;
    margin: 0px 0px 50px;
}

.statistic {
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 17px 0px 20px;
}

.statistic em {
    font-size: 50px;
    color: #000000;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    margin: 0px 0px 2px;
    font-weight: 600;
}

.statistic b {
    color: #000000;
    font: 16px Rubik, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.statistic p {
    color: #000000;
    font: 16px Rubik, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
}

.card {
    background-color: #ffffff;
    padding: 60px 120px;
    border-radius: 14px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.card-left {
    width: 55%;
}

.card-left h3 {
    font: 34px Rubik, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 0px 0px 28px;
}

.author {
    color: #000000;
    font: 20px Rubik, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0px 0px 4px;

}

.role {
    color: #697B88;
    font: 16px Rubik, Helvetica, Arial, sans-serif;
    margin: 0px 0px 28px;
}

.author-btn {
    color: #ffffff;
    background-color: #000000;
    border-radius: 25px;
    padding: 20px 65px;
    border: none;
    cursor: pointer;
}

.author-btn:hover {
    background-color: #00a2ff;
    color: #fff;
    border-color: 1px solid #0073e6;
}
.card-right img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}
.footer-text {
    display: flex;
    justify-content: space-between;
}
.footer-text ul {
    list-style: none;
    font: 14px Rubik, Helvetica, Arial, sans-serif;
    color: #000000;
    margin: 0px 0px 20px;

}
.footer-text li{
    margin: 0px 0px 13px;
}